fastapi
uvicorn
pydantic
jinja2
Flask
requests
torch
torchvision
sentence-transformers
transformers
faiss-cpu
evaluate
numpy
pandas
scikit-learn
matplotlib
seaborn
tqdm
datasets
huggingface_hub
pickle-mixin
json5
argparse
warnings
shutil
re
wandb
google-colab
